<ion-header>
  <ion-toolbar color="light">
    <div class="elem" slot="start">
      <ion-button color="#ffffff">
        <ion-icon slot="icon-only" name="search" color="danger"></ion-icon>
      </ion-button>
    </div>
    <ion-title>
      <img
        alt="logo"
        style="height:25px; background: no-repeat left center"
        src="assets/icon/vistfoundation.png"
      />
      EASY-LOANEY
    </ion-title>
    <div class="elem" slot="end">
      <ion-button color="#ffffff" (click)="chatUser()">
        <ion-icon slot="icon-only" name="chatbubbles" color="danger"></ion-icon>
        <ion-badge color="dark">50</ion-badge>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<!-- app content -->
<ion-content [scrollEvents]="true">
  <ion-list>
    <ion-card padding>
      <ion-item
        ><ion-avatar
          ><img
            alt="logo"
            style="height:25px; background: no-repeat left center"
            src="assets/icon/vistfoundation.png"/></ion-avatar
        >Item 1</ion-item
      ></ion-card
    >
    <ion-card padding>
      <ion-item
        ><ion-avatar
          ><img
            alt="logo"
            style="height:25px; background: no-repeat left center"
            src="assets/icon/vistfoundation.png"/></ion-avatar
        >Item 2</ion-item
      ></ion-card
    >
    <ion-card padding>
      <ion-item
        ><ion-avatar
          ><img
            alt="logo"
            style="height:25px; background: no-repeat left center"
            src="assets/icon/vistfoundation.png"/></ion-avatar
        >Item 3</ion-item
      ></ion-card
    >
    <ion-card padding>
      <ion-item
        ><ion-avatar
          ><img
            alt="logo"
            style="height:25px; background: no-repeat left center"
            src="assets/icon/vistfoundation.png"/></ion-avatar
        >Item 4</ion-item
      ></ion-card
    >
    <ion-card padding>
      <ion-item
        ><ion-avatar
          ><img
            alt="logo"
            style="height:25px; background: no-repeat left center"
            src="assets/icon/vistfoundation.png"/></ion-avatar
        >Item 5</ion-item
      ></ion-card
    >
    <ion-card padding>
      <ion-item
        ><ion-avatar
          ><img
            alt="logo"
            style="height:25px; background: no-repeat left center"
            src="assets/icon/vistfoundation.png"/></ion-avatar
        >Item 6</ion-item
      ></ion-card
    >
    <ion-item
      ><ion-avatar
        ><img
          alt="logo"
          style="height:25px; background: no-repeat left center"
          src="assets/icon/vistfoundation.png"/></ion-avatar
      >Item 7</ion-item
    >
    <ion-item
      ><ion-avatar
        ><img
          alt="logo"
          style="height:25px; background: no-repeat left center"
          src="assets/icon/vistfoundation.png"/></ion-avatar
      >Item 8</ion-item
    >
    <ion-item
      ><ion-avatar
        ><img
          alt="logo"
          style="height:25px; background: no-repeat left center"
          src="assets/icon/vistfoundation.png"/></ion-avatar
      >Item 9</ion-item
    >
    <ion-item
      ><ion-avatar
        ><img
          alt="logo"
          style="height:25px; background: no-repeat left center"
          src="assets/icon/vistfoundation.png"/></ion-avatar
      >Item 10</ion-item
    >
    <ion-item>Item 11</ion-item>
    <ion-item>Item 12</ion-item>
    <ion-item>Item 13</ion-item>
    <ion-item>Item 14</ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger"
    ><ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="ios-camera" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-tabs color="light">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="newfeed"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="ios-pricetags"></ion-icon>
      <ion-label>Marketplace</ion-label>
      <!-- <ion-badge color="danger">6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="mylist"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="ios-clipboard"></ion-icon>
      <ion-label>Listings</ion-label>
    </ion-tab-button>

    <ion-tab-button> </ion-tab-button>

    <ion-tab-button tab="myrented"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="list"></ion-icon>
      <ion-label>Rented</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="userProfile()"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
