<ion-toolbar color="primary">
  <div id="toolbar" >
    <div class="elem">
      <ion-button color="#ffffff">
          <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
      </ion-button>
    </div>
    <div class="title">
      <ion-title>E Z - L O A N E Y</ion-title>
    </div>
    <div class="elem">
      <ion-button color="#ffffff" (click)="chatUser()"> 
        <ion-icon slot="icon-only" name="chatbubbles" color="light"></ion-icon>
        <ion-badge color="danger">50</ion-badge>
      </ion-button>
    </div>
  </div>
</ion-toolbar>

<ion-content> </ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" color="primary">
    <ion-fab-button>
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="newfeed">
      <ion-icon name="home"></ion-icon>
      <ion-label>News</ion-label>
      <ion-badge color="danger">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="mylist">
      <ion-icon name="list"></ion-icon>
      <ion-label>My List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myrented">
      <ion-icon name="filing"></ion-icon>
      <ion-label>My Rented</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="userProfile()">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
