<ion-toolbar color="primary">
  <div id="toolbar">
    <div class="elem">
      <ion-button color="#ffffff" (click)="backHome()">
        <ion-icon
          slot="icon-only"
          name="arrow-round-back"
          color="light"
        ></ion-icon>
      </ion-button>
    </div>
    <div class="title">
      <ion-title>Chats</ion-title>
    </div>
    <div class="elem">
      <ion-button color="#ffffff" (click)="addUser()">
        <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-toolbar>

<ion-content> </ion-content>
