<ion-header>
  <ion-toolbar color="light">
    <div class="elem" slot="start">
      <ion-button color="#ffffff">
        <ion-icon slot="icon-only" name="search" color="danger"></ion-icon>
      </ion-button>
    </div>
    <ion-title>
      <img
        alt="logo"
        style="height:25px; background: no-repeat left center"
        src="assets/icon/vistfoundation.png"
      />
      EASY-LOANEY
    </ion-title>
    <div class="elem" slot="end">
      <ion-button color="#ffffff" (click)="chatUser()">
        <ion-icon slot="icon-only" name="chatbubbles" color="danger"></ion-icon>
        <ion-badge color="dark">50</ion-badge>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-photo" padding-top>
    <ion-avatar>
      <img src="{{ avatar }}" />
    </ion-avatar>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <p>Display Name</p>
        <h2>{{ displayName }}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <p>Email</p>
        <h2>{{ email }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        <p>Phone Number</p>
        <h2>81168199</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>
        <p>Facebook</p>
        <h2>facebook.com/danganhduc75</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>
        <p>Address</p>
        <h2>Blok 41 Sims Drive,Singapore</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger"
    ><ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="ios-camera" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="newfeed" (click)="newFeed()"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="ios-pricetags"></ion-icon>
      <ion-label>Marketplace</ion-label>
      <!-- <ion-badge color="danger">6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="mylist" (click)="userListing()"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="ios-clipboard"></ion-icon>
      <ion-label>Listings</ion-label>
    </ion-tab-button>

    <ion-tab-button> </ion-tab-button>

    <ion-tab-button tab="myrented" (click)="userRented()"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="list"></ion-icon>
      <ion-label>Rented</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile"  (click)="userProfile()"
      ><ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
