<ion-header>
  <ion-toolbar color="light">
    <ion-avatar slot="start">
      <img alt="logo" src="assets/icon/vistfoundation.png"
    /></ion-avatar>
    <ion-title color="danger">
      EASY-LOANEY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Marketplace</p>
  <ion-list>
    <ion-item *ngFor="let shop of shop" [routerLink]="['./', shop.id]">
      <ion-avatar slot="start">
        <ion-img [src]="shop.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label> {{ shop.title }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
