ion-content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  overflow: hidden;
}

img {
  margin-top: 50px;
  width: 330px;
  height: 250px;
}

.facebook {
  margin-top: 280px;
}
.google {
  margin-top: 20px;
}
