<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      EASY-LOANEY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button
    class="facebook"
    color="secondary"
    expand="block"
    (click)="loginWithFacebook()"
    *ngIf="!user.loggedIn"
    ><ion-icon name="logo-facebook" slot="start"></ion-icon>Login With
    Facebook</ion-button
  >

  <ion-button
    class="google"
    color="danger"
    expand="block"
    (click)="loginWithGoogle()"
    *ngIf="!user.loggedIn"
    ><ion-icon name="logo-google" slot="start"></ion-icon>Login With
    Google</ion-button
  >
</ion-content>
